W tej lekcji nauczymy się, jak importować i eksportować dane w Pandas. 

Skorzystamy z 2 plików, które znajdziesz w załączniku: orders.csv oraz Superstore.xlsx

### Importowanie danych

In [4]:
import pandas as pd

orders_df = pd.read_csv('orders.csv', sep=';')

orders_df.head()

,order_id,customer_id,order_date,shipping_date,shipping_mode,delivery_country,delivery_city,delivery_state,delivery_zip_code,return
0,328,166,04.12.2020,07.12.2020,Second Class,United States,Henderson,Kentucky,42420,37
1,329,262,08.07.2020,12.07.2020,Second Class,United States,Los Angeles,California,90036,1
2,330,728,06.11.2019,13.11.2019,Standard Class,United States,Fort Lauderdale,Florida,33311,47
3,331,111,05.07.2018,10.07.2018,Standard Class,United States,Los Angeles,California,90032,7
4,332,25,11.05.2021,16.05.2021,Standard Class,United States,Concord,North Carolina,28027,14

In [10]:
superstore_df = pd.read_excel('Superstore.xlsx', sheet_name = 'Orders')
superstore_df.head()
# print(superstore_df.head())

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Eksportowanie danych

In [11]:
orders_df.to_csv('exported_orders.csv', index=False, sep=';')

In [12]:
superstore_df.to_excel('exported_superstore.xlsx', sheet_name='Orders', index=False)